.navbar {
    border-bottom: 4px rgba(225,193,193,0.44) solid;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15%;
    height: 100px;
}

.navbar__introduce {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
    background: linear-gradient(to right, #43bac1, #42b9c1, #26427c);
}

.navbar__introduce p {
    color: white;
}

.navbar__introduce--try-free {
    padding: 10px 40px;
    background: white;
    border-radius: 8px;
}

.navbar__introduce--try-free:hover {
    cursor: pointer;
}

.navbar__introduce--try-free a {
    text-decoration-line: none;
    color: #43bac1;
}

.navbar__bar--menu {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.navbar__bar--item {
    text-decoration-line: none;
    color: #43BAC1;
    vertical-align: middle;
}

.navbar__bar--item:hover {
    cursor: pointer;
    color: #26427C;
    animation-duration: 1s;
    transition: all .3s ease;
    transform: scale(1);
}

.navbar__bar--item:hover > a {
    color: #26427C;
    font-size: calc(15px * 1.2);
    animation-duration: 1s;
    transition: all .3s ease;
}

.navbar__bar--item:hover > .modal {
    display: grid;
    left: -20%;
    color: #43bac1;
}

.navbar__bar--item:hover > .modal * {
    color: #43bac1;
}

.navbar__bar--item:hover > .modal > *:hover > * {
    color: #26427C;
}

.navbar__bar--item:hover > .modal > *:hover > .modal > *:hover > * {
    color: #26427C;
}

.navbar__bar--item i {
    margin-left: 7px;
    font-size: 11px;
}

.navbar__bar--cart {
    position: relative;
}

.navbar__bar--cart:hover {
    cursor: pointer;
    z-index: 0;
}

.navbar__bar--cart:hover a {
    color: white;
}

.navbar__bar--cart:hover i {
    -webkit-text-fill-color: #0274be;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0274be;
}

.navbar__bar--cart i {
    font-size:36px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0274be;
}

.navbar__bar--cart a {
    position: absolute;
    color: #0274be;
    right: 45%;
    top: 45%;
    right: 38%;
    top: 32%;
    text-decoration-line: none;
}